@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: inter, sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    font-weight: 500;
    line-height: 68px;
    margin-bottom: 30px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: #ffff;
    font-size: 20px;
}

.main-section {
    /* Стили для первой секции */
    padding-top: 60px;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-size: 48px;
}

.main-text {
    /* Стили для текста в первой секции */
    padding-top: 20px;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 715px;
    height: 508px 500;
    padding-bottom: 356px;
}


.about-section {
    /* Стили для второй секции */
    padding-top: 100px;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(Vector.svg);
    padding-left: 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    width: 670px;
    height: 57px;
}

.label {
    /* Стили для подписей чекбоксов */
    width: 475px;
    height: 19px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 464px;
    height: 36px;
    border-radius: 3px;
    border: none;
    border: solid 1px #95A1BB;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    color: #ffff;
    border: none;
    margin-bottom: 60px;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin-bottom: 60px;
    width: 100hv;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    height: 196px;
    margin-bottom: 100px;
}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #95A1BB;
    width: 130px;
    padding: 15px 0;
    text-align: center;
}

footer {
    /* Стили для футера */
    background: rgba(163, 167, 255, 0.3);
    height: 70px;
    padding-top: 25px;
}

.footer-link {
    /* Стили для футера */
    font-size: 14px;
}